body{font-family:arial, serif;background-color: #ffa; font-size:10pt}
#forum{margin:0 10%;}
#forum td{vertical-align:top}
#forum ul{padding-left:1em; list-style-position:inside}
#forum li{padding:0 4px;}
#forum li:hover{background:#faa}
#forum li ul li:hover{background:#faf}
#post table {width:500px}
#post input, #post textarea{width:100%}
#post input.radio{width:auto}
#post label{font-weight:bold}
#namef{display:none}
.ar{text-align:right}
.error{color:#f00; font-weight:bold;}
hr{border:none; border-top:1px solid #aeaeae}
